section {
    max-width: 1080px;
    margin: 0 auto;
    padding: 2rem;
    padding-top: 0;
}

/* Form */

label,
input,
button,
textarea,
select {
    display: block;
    font-family: 'Montserrat';
}

input {
    width: 100%;
    font-size: 14px;
    padding: 0.5rem;
    border: solid;
    border-width: 1px;
    border-radius: 4px;
}

textarea {
    width: 100%;
    height: 5rem;
    resize: none;
    border: solid;
    border-width: 1px;
    border-radius: 4px;
}

select {
    width: 100%;
    font-size: 16px;
    border: solid;
    border-width: 1px;
    border-radius: 4px;
    cursor: pointer;
}

label {
    margin-top: 1rem;
    margin-bottom: 0.1rem;
    font-size: 16px;
    font-family: 'Montserrat';
}

span {
    font-size: 14px;
    color: grey;
    font-family: 'Montserrat';
}

button {
    margin-top: 3rem;
    margin-left: 25vw;
    border: 0;
    border-radius: 4px;
    padding: .75rem 2rem;
    /*background-color: #FDD882;*/
    background-color: #E3C6B8;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    cursor: pointer;

}

/* Cvr sektion */
#cvr a {
    font-family: 'Montserrat';
    text-decoration: none;
    color: black;
}

#cvr a:hover {
    color: #E3C6B8;
}

#cvr iframe {
    width: 100%;
    height: 30rem;
}

#cvr {
    padding-top: 0;
}

#om_os {
    padding-bottom: 0;
}

/* Tekst placering & stil */

#om_os h2 {
    text-align: center;
}

#cvr h2 {
    text-align: center;
    font-size: 2rem;
}

#tak {
    text-align: center;
}

#blomster_abonnement h2 {
    text-align: center;
}

#bestil_blomster h2 {
    text-align: center;
}

/* Media */

@media (min-width:1080px) {

    /* Knap */
    button {
        margin-top: 3rem;
        margin-left: 5vw;
        border: 0;
        border-radius: 4px;
        padding: .75rem 2rem;
        /*background-color: #FDD882;*/
        background-color: #E3C6B8;
        font-family: 'Playfair Display', serif;
        font-size: 16px;
        cursor: pointer;

    }


    /* Om os section 1 */

    #om_os .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 5rem;

    }

    #om_os .section_wrapper p {
        margin-top: 30%;
    }

    #om_os .section_wrapper h2 {
        position: absolute;
        margin-top: 1rem;

    }


    /* Om os section 2 */

    #cvr h2 {
        text-align: center;
    }

    #cvr .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 5rem;
        text-align: center;

    }

    #cvr iframe {
        width: 600px;
        height: 450px;
    }


    /* Blomster Abonnement section */

    #blomster_abonnement .section_wrapper {

        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 4vw;
    }

    #blomster_abonnement .section_wrapper p {
        margin-top: 55%;
    }

    #blomster_abonnement .section_wrapper h2 {
        position: absolute;
        margin-left: 28.7rem;
        margin-top: 1rem;
    }

    #blomster_abonnement h2 {
        text-align: left;
    }

    /* Bestil Blomster */

    #bestil_blomster .section_wrapper {

        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 4vw;


    }

    #bestil_blomster .section_wrapper p {
        margin-top: 60%;
    }

    #bestil_blomster .section_wrapper h2 {
        position: absolute;
        margin-left: 29rem;
        margin-top: 1rem;
    }

    #bestil_blomster h2 {
        text-align: left;
    }

    #bestil_blomster img {
        height: 100%;
    }

    /*Tak for din bestilling */

    #tak {
        padding: 9rem;
        margin: 0 auto;
    }

    #tak .section_wrapper {
        margin-bottom: 10rem;
        text-align: center;
    }

    #tak a {
        font-family: 'Montserrat';
        font-size: 20px;
        text-decoration: none;
        color: #FDD882;
    }

}
