/*Main*/
* {
    box-sizing: border-box;
}

#sektion2,
#sektion3 {
    max-width: 1080px;
    margin: 1rem auto;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

video {
    position: relative;
    width: 100%;
}

/*Skrift*/

h1 {
    text-align: center;
    font-family: 'Playfair Display';
    font-size: 6rem;
    color: #D7D7D9;
    margin: auto 0;
}

h2 {
    color: #FDD882;
    font-family: 'Playfair Display';
    text-align: center;
}

h4 {
    font-family: 'Playfair Display';
}

p {
    font-family: 'Montserrat';
    font-size: 0.8rem;
}


/* sektion 1*/

#sektion1 div {
    text-align: center;
}

/* Overlay tekst */

.overlaytekst_1 p {
    font-size: 1rem;
    color: #E3C6B8;
    /*color: #FDD882;*/
}

.overlaytekst_1 a {
    background-color: #D7D7D9;
    font-family: 'Montserrat';
    font-size: 1rem;
    opacity: 60%;
    padding: 15px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.overlaytekst_1 a {
    text-decoration: none;
    color: black;
}

/*sektion 2*/

#sektion2 {
    text-align: center;
}

#sektion2 p {
    text-align: center;
    font-size: 1rem;
}

#sektion2 {
    padding: 30px;
    padding-bottom: 70px;
}

/*sektion 3*/

#sektion3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    position: relative;
    padding-bottom: 100px;
}

.col {
    position: relative;
}

#sektion3 div {
    text-align: center;
}

/* Knapper */
article {
    position: absolute;
    top: 45%;
    right: 35%;
    z-index: 1;
}

article p {
    font-size: 1.5rem;
    color: #FDD882;
}

article a {
    background-color: #D7D7D9;
    font-family: 'Montserrat';
    font-size: 1rem;
    opacity: 60%;
    padding: 15px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

article a {
    text-decoration: none;
    color: black;
}

/*
.knap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #D7D7D9;
    font-family: 'Montserrat';
    font-size: 1rem;
    opacity: 70%;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.knap a {
    text-decoration: none;
    color: black;
}
*/

/*Media*/

/* Mobil*/
@media (min-width: 300px) {
    #videoBG {
        width: 100%;
        z-index: -1;
    }


    #sektion1 h1 {
        font-size: 2rem;
    }

    .overlaytekst_1 {
        position: absolute;
        top: 30%;
        right: 20%
    }

    /*Overlay computer 13''*/
    .overlaytekst_2 {
        display: none;
    }

    /*Overlay computer 15+''*/
    .overlaytekst_3 {
        display: none;
    }

    .overlaytekst_1 a {
        font-size: 0.8rem;
    }

    #sektion1 {
        padding-top: 30px;
    }

    #sektion2 h2 {
        font-size: 1.5rem;
    }

    #sektion3 article {
        right: 15%;
    }
}

/* Tablet */
@media (min-width: 600px) {

    #sektion1 h1 {
        font-size: 3rem;
    }

    .overlaytekst_1 {
        position: absolute;
        top: 53%;
        right: 20%
    }

    /* Overlay computer 13''*/
    .overlaytekst_2 {
        display: none;
    }

    /*Overlay computer 15+''*/
    .overlaytekst_3 {
        display: none;
    }

    .overlaytekst_1 a {
        font-size: 0.8rem;
    }

}

@media (min-width: 800px) {

    #sektion1 h1 {
        font-size: 4rem;
    }

    .overlaytekst_1 {
        position: absolute;
        top: 60%;
        right: 15%
    }

    /* Overlay computer 13''*/
    .overlaytekst_2 {
        display: none;
    }

    /*Overlay computer 15+''*/
    .overlaytekst_3 {
        display: none;
    }

    .overlaytekst_1 a {
        font-size: 0.8rem;
    }

}

/* Computer 13''*/
@media (min-width: 1200px) {

    #videoBG {
        width: 100%;
        height: auto;
    }

    #sektion1 h1 {
        font-size: 6rem;
        padding: 0;
    }

    .overlaytekst_2 {
        display: block;
        position: absolute;
        top: 60%;
        right: 19%;
        z-index: 1;
    }

    .overlaytekst_2 p {
        font-size: 2rem;
        color: #E3C6B8;
    }

    .overlaytekst_2 a {
        background-color: #D7D7D9;
        font-family: 'Montserrat';
        font-size: 1.2rem;
        opacity: 60%;
        padding: 15px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }

    .overlaytekst_2 a {
        text-decoration: none;
        color: black;
    }

    /* Overlay tekst i mobil */
    .overlaytekst_1 {
        display: none;
    }

    /* Overlay tekst større end computer 13''*/
    .overlaytekst_3 {
        display: none;
    }
}

/* Overlay af H1 til Macbook 16'' */

@media (min-width:1700px) {

    .overlaytekst_3 {
        display: block;
        position: absolute;
        top: 75%;
        right: 24%;
        z-index: 1;

    }

    .overlaytekst_3 p {
        font-size: 2rem;
        color: #E3C6B8;
        /*color: #FDD882;*/
    }

    .overlaytekst_3 a {
        background-color: #D7D7D9;
        font-family: 'Montserrat';
        font-size: 1.2rem;
        opacity: 60%;
        padding: 15px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }

    .overlaytekst_3 a {
        text-decoration: none;
        color: black;
    }

    .overlaytekst_1 {
        display: none;
    }

    .overlaytekst_2 {
        display: none;
    }
}
