* {
    box-sizing: border-box;
}

#sektion2,
#sektion3 {
    max-width: 1080px;
    margin: 1rem auto;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

video {
    position: relative;
    width: 100%;
}

/*Main*/

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}


/* sektion 1*/

@media (min-width: 700px) {

    .overlaytekst {
        position: absolute;
        top: 60%;
        right: 24%;
        z-index: 1;
    }

    /*
#videoBG {
        position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
*/
}

#sektion1 div {
    text-align: center;
}

.overlaytekst p {
    font-size: 1.5rem;
    color: #E3C6B8;
    /*color: #FDD882;*/
}

.overlaytekst a {
    background-color: #D7D7D9;
    font-family: 'Montserrat';
    font-size: 1rem;
    opacity: 60%;
    padding: 15px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.overlaytekst a {
    text-decoration: none;
    color: black;
}

}

/*sektion 2*/

#sektion2 {
    text-align: center;
}

#sektion2 p {
    text-align: center;
    font-size: 1rem;
}

#sektion2 {
    padding: 30px;
    padding-bottom: 70px;
}

/*sektion 3*/

/*@media (min-width: 1200px) {*/


#sektion3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    position: relative;
    padding-bottom: 100px;
}

.col {
    position: relative;
}

#sektion3 div {
    text-align: center;
}


article {
    position: absolute;
    top: 45%;
    right: 35%;
    z-index: 1;
}

article p {
    font-size: 1.5rem;
    color: #FDD882;
}

article a {
    background-color: #D7D7D9;
    font-family: 'Montserrat';
    font-size: 1rem;
    opacity: 60%;
    padding: 15px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

article a {
    text-decoration: none;
    color: black;
}

/*
.knap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #D7D7D9;
    font-family: 'Montserrat';
    font-size: 1rem;
    opacity: 70%;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.knap a {
    text-decoration: none;
    color: black;
}
*/

/*media*/

@media (min-width: 1200px) {

    #videoBG {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 1200px) {
    #videoBG {
        width: auto;
        height: 100%;
    }
}

@media (max-width: 600px) {
    #videoBG {
        width: 100%;
        z-index: -1;
        /*        display: none;*/
    }

    /*
    #sektion1 {
        background-image: url(../forsideposter.jpg);
        background-size: cover;
        height: 100vw;
    }
*/

    #sektion1 h1 {
        font-size: 2rem;
    }

    .overlaytekst {
        position: absolute;
        top: 29%;
        right: 20%
    }

    .overlaytekst a {
        font-size: 0.8rem;
    }

    #sektion1 {
        padding-top: 30px;
    }

    #sektion1 p {
        font-size: 1rem;
    }


    #sektion2 h2 {
        font-size: 1.5rem;
    }

    #sektion3 article {
        right: 15%;
    }
}


/* Overlay af H1 til Macbook 16'' */

@media (min-width:1920px) {

    .overlaytekst {
        position: absolute;
        top: 50%;
        right: 30%;
        z-index: 1;

    }
