/* Overordnet Html */


* {
    box-sizing: border-box;
}


main {
    max-width: 1080px;
    margin: 1rem auto;
}

section {
    max-width: 1080px;

    margin: 0 auto;
    padding: 2rem;
}

body {
    margin: 0;

}

img {
    width: 100%;
    max-width: 100%;

}

/* Skriftyper, skriftstørrelser */

p {
    font-family: 'Montserrat';
    /*font-size: 0.8rem;*/
}

h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 5rem;
    color: #D7D7D9;

}

h2 {
    color: #FDD882;
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
}

h3 {
    color: #FDD882;
    font-family: 'Playfair Display', serif;
}

h4 {
    font-family: 'Playfair Display', serif;

}

nav a {
    font-family: 'Montserrat';
}


/* Navigation */

.hidden {
    opacity: 0;
    transform: translateX(-100%);
}

header {
    background-color: white;
}


nav a {
    text-decoration: none;
    color: black;
    font-size: 1rem;

}

#menuknap {
    display: inline-block;
    margin-top: 35px;
    font-size: 2.5rem;
    cursor: pointer;
}

#menu {
    list-style-type: none;
    text-decoration: none;
    transition: transform 0.3s;
    transform-origin: top left;
}

#menu li {
    display: inline-block;
    font-size: 1rem;
    margin: 1rem;

}



/* footer */

#footer {
    background-color: #ffffff;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
}

.footer {
    display: inline-block;
    color: #FDD882;
    padding: 1px;
    margin: 1px;
    text-decoration: none;
}

.footer img {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.footer .foelg_os img {
    display: inline-block;
    width: 43px;
    height: 43px;
}

.footer p {
    font-size: 0.8rem;
    padding: 1px;
    margin: 1px;
    text-decoration: none;
    color: #9a9a9a
}


/*Media*/

@media (min-width:1080px) {

    /*Burgermenu*/

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;

    }

    nav {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;

    }


}
