/* Overordnet Html */


* {
    box-sizing: border-box;
}


main {
    max-width: 1080px;
    margin: 4rem auto;
    margin-top: 1rem;
}


body {
    margin: 0;

}

img {
    width: 100%;
    max-width: 100%;

}

/* Skriftyper, skriftstørrelser */

p {
    font-family: 'Montserrat';
    /*font-size: 0.8rem;*/
}

h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 5rem;
    color: #D7D7D9;

}

h2 {
    color: #FDD882;
    font-family: 'Playfair Display', serif;
    font-size: 3vh;
}

h3 {
    color: #FDD882;
    font-family: 'Playfair Display', serif;
}

h4 {
    font-family: 'Playfair Display', serif;

}

nav a {
    font-family: 'Montserrat';
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: #FDD882;
}

/* Navigation */
nav {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.hidden {
    opacity: 0;
    transform: translateY(-10px);
}

header {
    background-color: white;
}


nav ul {
    position: relative;
    padding-left: 0;
    background-color: white;
    width: 100%;
    height: 100vh;
    margin-top: 5rem;
}

nav a {
    font-size: 1.2rem;
    padding: 1rem;
}

#menu {
    transition: transform 0.3s;
    transform-origin: top top;
}

#menuknap {

    cursor: pointer;
    padding-left: 85vw;
    padding-top: 11vw;

}

.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 1px;
    background-color: #9a9a9a;
    margin: 11px 0;
    transition: 0.4s;
}

#menu li {
    list-style: none;
    padding: 1rem;

}

/*header img {
    display: none;
}*/

#logo h1 {
    font-size: 8vw;
    text-align: left;
    padding-left: 7vw;
    padding-top: 20px;
    color: #FDD882;
    display: none;
}

header img {
    width: 120px;
    height: 120px;
    display: block;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;

}


/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


/* Footer */

#footer img {
    display: inline-block;
    width: 30px;
    height: 30px;
}

#footer .foelg_os img {
    display: inline-block;
    width: 43px;
    height: 43px;
}

#footer {
    text-align: center;
    background-color: #FFFFF2;
    padding-top: 1rem;
}


forside.html #sektion1 {
    background-image: url(forsideposter.jpg);
}

/*Media*/

@media (min-width:600px) {
    /*Navigation*/

    #menuknap {
        display: none;
    }

    #menu.hidden {
        opacity: 1;

    }

    #menu li {
        display: inline-block;
        margin: 1rem;
        padding: 0;

    }

    nav ul {
        position: relative;
        padding-left: 0;
        background: none;
        height: 2rem;
        width: 100%;
    }

    nav {
        position: relative;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;

    }

    header img {
        display: block;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
        height: 180px;
        width: 180px;
    }

    #logo h1 {
        display: none;
    }
}

@media (min-width:1080px) {

    h2 {
        color: #FDD882;
        font-family: 'Playfair Display', serif;
        font-size: 3rem;
    }

    /* footer */


    #footer .col {
        display: inline-block;
        color: #FDD882;
        text-decoration: none;

    }

    #footer p {
        font-size: 0.8rem;
        padding: 1px;
        margin: 2rem;
        text-decoration: none;
        color: #9a9a9a
    }

    #footer {
        text-align: center;
        font-family: 'Playfair Display', serif;
        font-size: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

}
