/* Form */

label,
input,
button,
textarea,
select {
    display: block;
    font-family: 'Montserrat';
}

input {
    width: 22rem;
    font-size: 14px;
    padding: 0.5rem;
    border: solid;
    border-width: 1px;
    border-radius: 4px;
}

textarea {
    width: 23rem;
    height: 5rem;
    resize: none;
    border: solid;
    border-width: 1px;
    border-radius: 4px;
}

select {
    width: 23rem;
    font-size: 16px;
    border: solid;
    border-width: 1px;
    border-radius: 4px;
    cursor: pointer;
}

label {
    margin-top: 1rem;
    margin-bottom: 0.1rem;
    font-size: 16px;
    font-family: 'Montserrat';
}

span {
    font-size: 14px;
    color: grey;
    font-family: 'Montserrat';
}

button {
    margin-top: 3rem;
    margin-left: 6rem;
    border: 0;
    border-radius: 4px;
    padding: .75rem 2rem;
    background-color: #FDD882;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    cursor: pointer;

}

/* Media */

@media (min-width:1080px) {

    /* Om os section 1 */

    #om_os .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 5rem;

    }

    #om_os .section_wrapper p {
        margin-top: 7rem;
    }

    #om_os .section_wrapper h2 {
        position: absolute;
        margin-top: 1rem;
        font-size: 3rem;

    }

    #om_os img {

        width: 700px;
        height: 500px;
    }


    /* Blomster Abonnement section */

    #blomster_abonnement .section_wrapper {

        display: grid;
        grid-template-columns: 2fr 1fr;

    }

    #blomster_abonnement .section_wrapper p {
        margin-top: 12rem;
    }

    #blomster_abonnement .section_wrapper h2 {
        position: absolute;
        margin-left: 28.7rem;
        margin-top: 1rem;
        font-size: 3rem;
    }

    #blomster_abonnement img {
        width: 600px;
        height: 1050px;
    }

    /* Bestil Blomster */

    #bestil_blomster .section_wrapper {

        display: grid;
        grid-template-columns: 2fr 1fr;


    }

    #bestil_blomster .section_wrapper p {
        margin-top: 12rem;
    }

    #bestil_blomster .section_wrapper h2 {
        position: absolute;
        margin-left: 29rem;
        margin-top: 1rem;
        font-size: 3rem;
    }

    #bestil_blomster img {
        width: 600px;
        height: 1050px;
    }


    /*Tak for din bestilling */

    #tak .section_wrapper {
        margin-bottom: 10rem;
        text-align: center;
    }

    #tak a {
        font-family: 'Montserrat';
        font-size: 20px;
        text-decoration: none;
        color: #FDD882;
    }

}
