h2 {
    text-align: center;

}

#first_section .section_wrapper p {
    text-align: center;
    color: #000000;
    margin: 2.5rem;
}

/* Media */

@media (min-width:350px) {

    /*----overlay----*/


    .imagecol {
        position: relative;
        width: 100%;
        margin-bottom: 1vh;
        margin-left: 15vw;
        padding: 1rem;
        width: 350px;
        height: 350px;

    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        opacity: 0;
        transition: .2s ease;
        background-color: white;
        text-align: center;
    }

    .imagecol:hover .overlay {
        opacity: 1;
    }

    .text {
        font-size: 0.8rem;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .text p {
        color: #000000;
    }

    .text h3 {
        font-size: 1.1rem;
    }

    .produktknap {
        background-color: #D7D7D9;
        font-family: 'Montserrat';
        font-size: 0.8rem;
        opacity: 60%;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }

    .produktknap a {
        text-decoration: none;
        color: black;
    }

}

@media (min-width:600px) {
    .imagecol {
        position: relative;
        width: 100%;
        margin-bottom: 1rem;
        margin-left: 0;
    }

    #first_section .section_wrapper p {
        text-align: center;
        color: #000000;
        margin-left: 2rem;
        margin-right: 2rem;
        padding-bottom: 3rem;
    }

    #second_section .section_wrapper {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
        margin-left: 9rem;
        margin-right: 9rem;
    }

}

@media (min-width:1080px) {

    #second_section .section_wrapper {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
        margin-left: 9rem;
        margin-right: 9rem;
    }
}
