/* Overordnet Html */

body {
    margin: 0;
}

section {
    max-width: 1080px;
    margin: 0 auto;
    padding: 2rem;
}

p {
    font-family: 'Montserrat';
    font-size: 20px;
}

h1 {
    font-family: 'Playfair Display', serif;

}

h2 {
    color: #FDD882;
    font-size: 60px;
    font-family: 'Playfair Display', serif;
}

h3 {
    color: #FDD882;
    font-size: 60px;
    font-family: 'Playfair Display', serif;
}

h4 {
    font-size: 16px;
    font-family: 'Playfair Display', serif;

}

nav a {
    font-family: 'Montserrat';
}

img {
    width: 100%;
    max-width: 100%;
}

/* Navigation */

.hidden {
    opacity: 0;
    transform: translateX(-100%);
}

nav {
    text-align: center;
    padding: 1rem;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 20px;
    font-size: 20px;
}

#menuknap {
    display: inline-block;
    margin-top: 35px;
    font-size: 35px;
    cursor: pointer;
}

#menu {
    list-style-type: none;
    text-decoration: none;
    transition: transform 0.3s;
    transform-origin: top left;
}

#menu li {
    display: inline-block;
    font-size: 1vw;

}

/* footer */

/*

footer .footer {
    margin-top: 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5vw;
    background-color: #D9C9C1;
    justify-content: center;

}

footer h4 {
    text-align: center;
}

footer p {
    text-align: center;
    font-size: 14px;
}

.footer img {
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.footer .foelg_os img {
    width: 43px;
    height: 43px;
}

*/
/*Media*/

@media (min-width:1080px) {

    /*Burgermenu*/

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;

    }

}
