* {
    box-sizing: border-box;
}

main {
    max-width: 1080px;
    margin: 1rem auto;
}


img {
    display: block;
}


/*menu*/
.hidden {
    opacity: 0;
}

nav {
    text-align: center;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 20px;
}

#menuknap {
    display: inline-block;
    margin-top: 35px;
    font-size: 35px;
    cursor: pointer;
}

#menu {
    list-style-type: none;
    text-decoration: none;
}

#menu li {
    display: inline-block;
    font-size: 1vw;
}

h2 {
    font-size: 3rem;
    text-align: center;
    color: #626262;
    font-family: 'Playfair Display', serif;

}

#first_section .section_wrapper p {
    text-align: center;
    color: #000000;
    font-family: 'Montserrat';
    margin-left: 10rem;
    margin-right: 10rem;
    padding-bottom: 3rem;
}

/*----iconer----*/
#secound_section .section_wrapper {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    position: relative;
    padding-bottom: 20px;
    margin: 20px;

}

/*----overlay----*/


.col {
    position: relative;
    width: 100%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 1rem;

}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 97%;
    width: 100%;
    opacity: 0;
    transition: .2s ease;
    background-color: #e8e8e8;
}

.col:hover .overlay {
    opacity: 1;
}

.text {
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.text p {
    color: white;
    font-family: 'Montserrat';
}

.text h3 {
    font-size: 1.3rem;
}

/*-----footer----*/
#footer {
    height: 400px;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
}

.footer {
    display: inline-block;
    color: black;
    padding: 1px;
    margin: 1px;
    text-decoration: none;
}

.footer img {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.footer .foelg_os img {
    display: inline-block;
    width: 43px;
    height: 43px;
}

.footer p {
    font-size: 0.8rem;
    padding: 1px;
    margin: 1px;
    text-decoration: none;
    color: #9a9a9a
}

h3 {
    font-size: 1rem;
    color: #626262;
    padding: 5px;
    margin: 8px;
}
